body {
    font-family: Helvetica, Arial, sans-serif;
}

#textinput {
    width: 240px;
}

.crossedout {
    text-decoration: line-through;
}

#tasklist li {
    text-decoration: none;
    display: block;
    border: 1px solid #000;
    padding-right: 10px; 
    width: fit-content;
}

#tasklist li label p {
    display: inline-block;
    width: 200px;
}